container_commands:
  00_pip_upgrade:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip"
    ignoreErrors: false
  01_migrate:
    command: "echo hello"
  02_collectstatic:
    command: "echo hello"
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'